#alltickets {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    background: rgb(37, 38, 39);
}

#alltickets .container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    max-width: 1300px;
    width: 100%;
    margin: 40px 0;
    background: rgb(23, 24, 25);
    box-shadow: 0 0 20px rgb(23, 24, 25);
    border-radius: 12px;
    padding: 15px 30px 30px;
}

#alltickets .container h3 {
    color: #f0f0f0;
    font: 500 24px Poppins;
    padding: 20px 0;
}

#alltickets .container .tickets {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}