#register {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}


#register form {
    display: flex;
    flex-direction: column;
}

#register form h3 {
    font: 700 28px Poppins;
    text-shadow: 0 0 3px rgb(24, 24, 24);
}

#register form label {
    color: #000;
    text-shadow: 0 0 2px rgb(24, 24, 24);
}