#createAdministrator {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    background: rgb(37, 38, 39);
    padding-bottom: 30px;
}

#createAdministrator .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    max-width: 1300px;
    width: 100%;
    padding: 40px 0;
    margin: 40px 0;
    color: #f0f0f0;
    background: rgb(24, 25, 26);
    box-shadow: 0 0 15px rgb(24, 25, 26);
    border-radius: 12px;
}

#createAdministrator .container form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 15px 40px;
    background: rgb(28, 28, 28);
    box-shadow: 0 0 15px rgb(0, 0, 0);
    border-radius: 12px;
}

#createAdministrator .container form h3 {
    padding: 15px 0;
    margin-bottom: 15px;
    border-bottom: 2px solid rgb(37, 38, 39);
    max-width: 650px;
    width: 100%;
}

#createAdministrator .container form .input-block {
    max-width: 650px;
    width: 100%;
}

#createAdministrator .container form .select-block {
    max-width: 650px;
    width: 100%;
    margin-right: 10px;
}

#createAdministrator .container form .dualInput {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 650px;
    width: 100%;
    margin-bottom: 10px;
}

#createAdministrator .container form .dualInput .input-block {
    margin-bottom: 0 !important;
    margin-top: 10px !important;
}

#createAdministrator .container form .button-container {
    max-width: 650px;
    width: 100%;
}