#login {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;    
    padding: 30px 0;
}

#login form {
    display: flex;
    flex-direction: column;
    padding: 50px 100px;
    box-shadow: 0 0 20px rgb(24, 24, 24);
    border: 1px solid #ddd;
    border-radius: 25px;
}


#login form h3 {
    font: 700 28px Poppins;    
    text-shadow: 0 0 3px rgb(24, 24, 24);
}

#login form label {
    color: #000;
    text-shadow: 0 0 2px rgb(24, 24, 24);
}

.more-infos {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    font: 500 13px Poppins;
    text-shadow: 0 0 2px rgb(24, 24, 24);
}

.more-infos a {
    font: 600 14px Poppins;
    color: rgb(53, 53, 53);
    text-shadow: 0 0 2px rgb(24, 24, 24);
}

.more-infos a:hover {
    color: #f31212;
    transition: color .3s;
}