.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px 0;
}

.button-container button {
    width: 100%;
    padding: 8px 15px;
    font: 500 16px Poppins;
    color: #fff;
    border-radius: 4px;
    background: rgb(0, 153, 255);
    box-shadow: 0 0 7px rgb(0, 153, 255) !important;
    text-shadow: 0 0 8px rgb(0, 0, 0);
}

.button-container button:hover {
    background: rgb(53, 180, 53);
    box-shadow: 0 0 7px rgb(53, 180, 53) !important;
    text-shadow: 0 0 8px rgb(0, 0, 0);
    transition: all 0.5s;
}

.button-container button:disabled {
    background: rgb(255, 53, 53) !important;
    box-shadow: 0 0 7px rgb(255, 53, 53) !important;
    cursor: not-allowed;
    transition: all .3s ease-in-out;
}

.button-container>p {
    padding: 5px 0 0;
    font: 500 15px Poppins;
    width: 100%;
    text-align: end;
    text-shadow: 0 0 2px rgb(255, 53, 53);
}