.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.button-container button {
    width: 100%;
    padding: 8px 15px;
    font: 500 16px Poppins;
    color: #fff;
    border-radius: 4px;
    text-shadow: 0 0 50px rgb(0, 0, 0);
}

.button-container button:hover {
    background: rgb(40, 153, 40);
    text-shadow: 0 0 50px rgb(0, 0, 0);
    transition: all 0.5s;
}