#backdrop {
    display: none;
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    z-index: 1;
}

.modal-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    transform: translateY(-100%);
    opacity: 0.45;
    transition: all .3s 0ms ease-in-out;
}

.translate {
    transform: translateY(0%);
    opacity: 1;
    height: 100vh;
    z-index: 1;
    transition: all .5s 0ms ease-in-out;
}

.modal-container .modal-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 650px;
    height: 400px;
    background: #e0e0e0;
    box-shadow: 0 0 30px rgb(0, 0, 0);
    border: 0;
    outline: 0;
    color: rgb(23, 24, 25);
    border-radius: 8px;
    padding: 20px 65px;
    overflow: scroll;
}

.modal-content form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    color: rgb(23, 24, 25);
}

.modal-content form label {
    color: rgb(23, 24, 25);
    text-shadow: 0 0 1px rgb(23, 24, 25);
    font: 500 18px Poppins;
}

.modal-content form textarea {
    background: #e0e0e0;
    color: rgb(23, 24, 25);
    border: 0;
    box-shadow: 0 0 7px rgb(23, 24, 25);
}

.modal-content form section {
    width: 100%;
}

.modal-content form div button:hover {
    background-color: rgb(23, 24, 25) !important;
}

.modal-content::-webkit-scrollbar {
    display: none;
}