.textarea-block {
    display: flex;
    flex-direction: column;
}

.textarea-block label {
    padding: 5px 0;
    margin: 10px 0;
    font: 600 16px Poppins;    
    text-shadow: 0 0 1px #fff;
    color: #fff;
}

.textarea-block textarea {
    display: flex;
    align-items: center;
    min-height: 200px;
    padding: 20px;
    resize: none;
    border-radius: 8px;
    border: 2px solid #333;    
    background: rgb(26, 26, 34);
    color: #fff;
    font: 400 14px Poppins;
    text-align: justify;
}

.textarea-block textarea::placeholder {
    font: 500 16px Poppins;
    text-shadow: none;
}

.textarea-block textarea:focus::placeholder {
    color: transparent;     
}

.textarea-block textarea:focus {
    border: 2px solid rgb(0, 153, 255);    
    box-shadow: 0 0 8px rgb(0, 153, 255);
    transition: all 0.3s ease-in-out;
}

