#ticket-info {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
    width: 100%;
    /* background: linear-gradient(90deg, rgba(14, 92, 173, 1) 0%, rgba(16, 95, 173, 1) 19%, rgba(24, 105, 172, 1) 36%, rgba(36, 123, 171, 1) 51%, rgba(53, 147, 170, 1) 65%, rgba(76, 178, 168, 1) 79%, rgba(103, 216, 166, 1) 92%, rgba(121, 241, 164, 1) 100%); */
    background: rgb(23, 24, 25);
}

#ticket-info h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1100px;
    background: rgb(0, 0, 0, 0.7);
    color: #fff;
    font: 500 28px Poppins;
    text-align: center;
    border-radius: 8px;
    margin-top: 20px;
    padding: 10px;
}

#ticket-info .container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    max-width: 900px;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
}

#ticket-info .content-ticket {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    background: rgb(0, 0, 0, 0.7);
    border-radius: 8px;
    border: 2px solid #333;
    padding: 10px 20px;
}

#ticket-info .header-ticket {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 0;
    color: #fff;
    border-bottom: 2px solid #333;
}

#ticket-info .header-ticket .btnEdit {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 50%;
    color: #fff;
    background: #333;
    box-shadow: 0 0 8px #333;
}

#ticket-info .header-ticket .btnEdit:hover {
    background: rgb(0, 153, 255);
    box-shadow: 0 0 10px rgb(0, 153, 255);
    transition: all .3s ease-in-out;
}

#ticket-info .informations {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    padding: 5px 0;
    border-bottom: 2px solid #333;
    width: 100%;
}

#ticket-info .description {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    color: #fff;
    padding: 10px 0;
    width: 100%;
}

#ticket-info .description strong {
    font: 600 18px Poppins;
    margin-bottom: 10px;
}

#ticket-info .description p {
    width: 100%;
    text-align: justify;
}

#ticket-info .actions {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#ticket-info .actions button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    border-radius: 8px;
    color: #fff;
    background: #333;
    box-shadow: 0 0 8px #333;
    font: 600 14px Poppins;
}

#ticket-info .actions button:hover {
    background: rgb(0, 153, 255);
    box-shadow: 0 0 10px rgb(0, 153, 255);
    transition: all .3s ease-in-out
}

#ticket-info .reply-container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

#ticket-info .reply-content {
    display: flex;    
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    max-width: 600px;
    width: 100%;
    background: rgb(0, 0, 0, 0.7);
    border-radius: 8px;
    border: 2px solid #333;
    padding: 10px 20px;
    color: #fff;
}

#ticket-info .reply-container:nth-child(odd) {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

#ticket-info .reply-content .reply-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 5px 0;
    border-bottom: 2px solid #333;
    margin-bottom: 8px;
}

#ticket-info .reply-content .reply-header p {
    display: flex;
    align-items: center;
    justify-content: center;
    font: 400 15px Poppins;
}

#ticket-info .reply-content .reply-header p svg {
    margin-right: 8px;
}