.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.button-container button {
    width: 100%;
    padding: 8px 15px;
    background: #232727;
    font: 500 16px Poppins;
    color: #fff;
    border-radius: 4px;
}

.button-container button:hover {
    background: #f31212;
    transition: all .3s ease;
}