.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.button-container button {
    width: 100%;
    padding: 8px 15px;
    background: linear-gradient(90deg, rgb(0, 153, 255) 0%, rgb(103, 216, 166) 75%);
    font: 500 16px Poppins;
    color: #fff;
    border-radius: 4px;
}

.button-container button:hover {
    background: linear-gradient(90deg, rgb(255, 255, 65) 0%, rgb(255, 65, 65) 75%);
    transition: all 0.5s;
}